.df-panel-collapse {}

.df-panel .df-term {
  padding: 4px 0px;
}

#vtex-embedded .df-panel[data-facet='categories'] .df-term .df-term__value, #vtex-embedded .df-panel[data-facet='brand'] .df-term .df-term__value, #vtex-embedded .df-panel[data-facet='flags'] .df-term .df-term__value, #vtex-embedded .df-panel[data-facet='content_format'] .df-term .df-term__value {
  display: flex;
  flex-wrap: wrap;
  position: relative;
  color: #4A4A4A;
  font-size: 16px;
  font-weight: 500;
  line-height: 20px;
  padding-left: 25px;
}

#vtex-embedded .df-panel[data-facet='categories'] .df-term .df-term__value::before, #vtex-embedded .df-panel[data-facet='brand'] .df-term .df-term__value::before, #vtex-embedded .df-panel[data-facet='flags'] .df-term .df-term__value::before, #vtex-embedded .df-panel[data-facet='content_format'] .df-term .df-term__value::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  background-color: #FFFFFF;
}

#vtex-embedded .df-panel[data-facet='categories'] .df-term[data-selected] .df-term__value::before, #vtex-embedded .df-panel[data-facet='brand'] .df-term[data-selected] .df-term__value::before, #vtex-embedded .df-panel[data-facet='flags'] .df-term[data-selected] .df-term__value::before, #vtex-embedded .df-panel[data-facet='content_format'] .df-term[data-selected] .df-term__value::before {
  background-color: #5CB8A3;
}

#vtex-embedded .df-panel .df-term[data-selected] .df-term__value::after {
  position: absolute;
  left: 4px;
  top: 50%;
  color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "\E90F";
}

.df-panel .df-term .df-term__value:hover {
  opacity: 0.6;
}

.df-panel .df-term .df-term__count {
  font-size: 14px;
  font-weight: 500;
  line-height: 20px;
  margin-left: 4px;
}

.df-panel[data-facet=reviews_data] {
  display: none;
}

.df-panel[data-facet='reviews_score'] .df-panel__content {
  display: -webkit-flex;
  -webkit-flex-direction: column-reverse;
  display: flex;
  flex-direction: column-reverse;
}

.df-panel[data-facet='reviews_score'] .df-term .df-term__value {
  max-width: 75px;
  background-image: "";
  font-size: 0;
  background-size: contain;
  height: 18px;
}

#vtex-embedded .df-panel[data-facet='reviews_score'] .df-term {
  position: relative;
  padding: 4px 0px 4px 25px;
}

#vtex-embedded .df-panel[data-facet='reviews_score'] .df-term::before {
  content: " ";
  position: absolute;
  left: 0;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  height: 18px;
  width: 18px;
  border: 1px solid #D3D3D3;
  border-radius: 3px;
  background-color: #FFFFFF;
}

#vtex-embedded .df-panel[data-facet='reviews_score'] .df-term[data-selected]::before {
  background-color: #5CB8A3;
}

#vtex-embedded .df-panel[data-facet='reviews_score'] .df-term[data-selected]::after {
  position: absolute;
  left: 4px;
  top: 50%;
  color: #fff;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'icomoon' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  content: "\E90F";
}

.df-panel[data-facet='reviews_score'] .df-term .df-term__value {
  position: relative;
  max-width: 75px;
  background-image: url(./img/star_off.png);
  font-size: 0;
  background-size: contain;
  height: 13px;
  margin-top: 3px;
}

.df-panel[data-facet="reviews_score"] .df-term .df-term__value:after {
  background-image: url(./img/star_on.png);
  content: "";
  display: block;
  height: 13px;
  z-index: 999;
  background-size: contain;
  margin-left: 2px;
}

.df-panel[data-facet="reviews_score"] .df-term[data-selected] .df-term__value:after {
  margin-left: -2px;
}

.df-panel[data-facet="reviews_score"] .df-term[data-value="1"] .df-term__value:after {
  width: 20%;
}

.df-panel[data-facet="reviews_score"] .df-term[data-value="2"] .df-term__value:after {
  width: 40%;
}

.df-panel[data-facet="reviews_score"] .df-term[data-value="3"] .df-term__value:after {
  width: 60%;
}

.df-panel[data-facet="reviews_score"] .df-term[data-value="4"] .df-term__value:after {
  width: 80%;
}

.df-panel[data-facet="reviews_score"] .df-term[data-value="5"] .df-term__value:after {
  width: 100%;
}

span.valoracion-product.with-review {
  background-image: url(./img/star_off.png);
}

span.valoracion-product.with-review .porcentaje {
  background-image: url(./img/star_on.png);
  display: block;
  height: 11px;
  min-height: 11px;
  background-size: contain;
}

span.valoracion-product.with-review span.quantity-porcentaje {
  display: block;
  right: -20px;
  font-size: 9px;
  float: right;
  text-align: right;
  position: absolute;
  color: #808080;
}

span.valoracion-product {
  min-height: 11px;
  background-size: contain;
  max-width: 59px;
  background-position: -2px 0px;
  position: relative;
  max-height: 11px;
  display: block;
}

.df-panel[data-collapse=true] .df-panel__content {
  display: none;
}

.df-panel__content {
  padding: 18px!important;
}

/*html[lang="it"] .naturitasit-naturitas-doofinder-1-x-df-aside:before {
  content: "Filtri";
}*/

.df-panel-collapse[data-collapse=true] .naturitasit-naturitas-doofinder-1-x-df-panel__title {
  padding: 18px;
}

.df-panel-collapse[data-collapse=false] .naturitasit-naturitas-doofinder-1-x-df-panel__title {
  padding: 18px 18px 0px 18px;
}

.df-panel-collapse[data-collapse=true] .naturitasit-naturitas-doofinder-1-x-df-panel__title:after {
  content: "+";
  top: 24px;
  right: 20px;
  position: absolute;
  width: 10px;
  height: 10px;
  text-indent: -9999px;
  border-top: 2px solid #4a4a4a;
  border-left: 2px solid #4a4a4a;
  transition: all 250ms ease-in-out;
  text-decoration: none;
  color: transparent;
  transform: rotate(225deg);
  cursor: pointer;
}

.df-header-title {
  display: none;
  text-align: center;
}

div#vtex-embedded {
  padding-top: 50px;
}

.df-card__brand {
  width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  font-family: brandon-grotesque;
  font-size: 14px;
  font-weight: 500;
  text-align: left;
  margin-bottom: 0;
  white-space: nowrap;
  color: #9b9b9b;
}

.df-panel.df-panel-collapse:last-child {
  margin-bottom: 0px;
}

.subtitle {
  color: silver;
  text-align: left;
  font-family: brandon-grotesque;
  font-size: 12px;
  margin-bottom: 0;
  line-height: 18px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

#vtex-embedded [data-role=panel-content] [data-toggle-extra-content] {
  color: #4A4A4A!important;
  font-size: 16px!important;
  font-weight: 500!important;
  line-height: 31px!important;
  text-align: left!important;
  padding: 4px 0px!important;
}

#vtex-embedded [data-role=panel-content] :hover[data-toggle-extra-content] {
  opacity: 0.6;
}

#vtex-embedded .my-df-addtocart-btn {
  padding: 5px 3px!important;
  box-shadow: none!important;
  background: #ffffff!important;
  color: #5cb8a3!important;
  border-radius: 6px!important;
  border-color: #5cb8a3!important;
  border: 1px solid!important;
  cursor: pointer!important;
}

#vtex-embedded .my-df-addtocart-btn:hover {
  background: #5cb8a3!important;
  color: #ffffff!important;
}

.df-card__price.df-card__price--new.original-price {
  color: #4a4a4a;
  font-size: 24px;
  font-weight: 700;
  letter-spacing: -.2px;
  line-height: 30px;
}

figure.naturitasit-naturitas-doofinder-1-x-df-card__image+div {
  position: relative;
}

#vtex-embedded .df-addtocartmb {
  position: relative;
  margin-top: 0px;
  height: 28px;
  display: flex;
}

.naturitasit-naturitas-doofinder-1-x-df-card__pricing {
  /*position: absolute;
  bottom: 0;*/
}

.discounts {
  box-sizing: border-box;
  height: 23.11px;
}

.discounts .triangle {
  width: 100%;
  height: 55px;
  display: block;
  position: relative;
  background-image: url("img/rectangle.svg");
  background-repeat: no-repeat;
}

.discounts .triangle .discounts-container {
  text-align: center;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  letter-spacing: -.3px;
  line-height: 20px;
  position: absolute;
  top: 9px;
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#vtex-embedded .df-addtocartmb .my-df-addtocart-btn.btn-cart.ajx-cart.btn {
  width: calc(100% - 50px);
  padding: 5px 3px;
  box-shadow: none;
  background: #fff;
  color: #5cb8a3;
  margin-bottom: -2px;
}

#vtex-embedded .df-addtocartmb .btn.btn-primary.addToCart {
  width: 42px;
  margin-left: auto;
  padding: 0;
  display: flex;
  box-shadow: 0 2px 0 0 #529888;
  line-height: 18px;
  background-image: url("img/bag.svg");
  background-repeat: no-repeat;
  background-position: 12px 2px;
}

#vtex-embedded #df-pager__vtex-embedded {
  margin-top: 30px;
}

#vtex-embedded #df-pager__vtex-embedded .df-pagination {
  margin-top: 0;
  margin-bottom: 0;
}

.add-to-cart-loader {
  background-image: none!important;
}

.add-to-cart-isadded {
  background-color: #c2d143!important;
  box-shadow: 0 2px 0 0 #c2d143!important;
  border-color: #c2d143!important;
}

.add-to-cart-notadded {
  background-color: tomato!important;
}

.custom-spinner {
  position: absolute;
  top: 4px;
  right: 9px;
  border: 2px solid transparent;
  border-radius: 50%;
  border-top: 2px solid #ffffff;
  width: 22px;
  height: 22px;
  -webkit-animation: spin 2s linear infinite;
  animation: spin 0.5s linear infinite;
}

/* Safari */

@-webkit-keyframes spin {
  0% {
    -webkit-transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
  }
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

.naturitasit-naturitas-doofinder-1-x-df-results.custom-doofinder-grid {
  display: grid!important;
  grid-template-columns: 50% 50%;
}

@media(min-width: 992px) {
  .naturitasit-naturitas-doofinder-1-x-df-results.custom-doofinder-grid {
    grid-template-columns: 33% 33% 33%;
  }
}

@media(min-width: 1200px) {
  .naturitasit-naturitas-doofinder-1-x-df-results.custom-doofinder-grid {
    grid-template-columns: 25% 25% 25% 25%;
  }
}

.naturitasit-naturitas-doofinder-1-x-df-results.no-results-doofinder-grid .searchresult-block.content {
  width: 100%;
}

.naturitasit-naturitas-doofinder-1-x-df-results.no-results-doofinder-grid {
  max-width: 1217px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
}

.naturitasit-naturitas-doofinder-1-x-df-results.no-results-doofinder-grid .searchresult-image-container {
  /*background-image: url(./img/oops.png);*/
  margin: auto;
  text-align: center;
  padding: 10px 0 20px;
  /*background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: 10px;*/
}

.naturitasit-naturitas-doofinder-1-x-df-results.no-results-doofinder-grid .searchresult-image-container img {
  /*visibility: hidden;*/
}

.naturitasit-naturitas-doofinder-1-x-df-results.no-results-doofinder-grid .searchresult-title-container .title {
  color: #4a4a4a;
  font-family: Quicksand;
  font-size: 22px;
  font-weight: 700;
  line-height: 28px;
  text-align: center;
}

.naturitasit-naturitas-doofinder-1-x-df-results.no-results-doofinder-grid .searchresult-subtitle-container {
  color: #4a4a4a;
  font-family: brandon-grotesque;
  font-size: 16px;
  line-height: 23px;
  text-align: center;
  margin-bottom: 2rem;
}

.naturitasit-naturitas-doofinder-1-x-df-results.no-results-doofinder-grid .searchresult-subtitle-container p {
  margin-bottom: .5rem;
}

.naturitasit-naturitas-doofinder-1-x-df-results.no-results-doofinder-grid .searchresult-tips-container {
  max-width: 400px;
  margin: auto;
  background-color: #fbfaf9;
  border-radius: 8px;
  padding: 20px;
}

.naturitasit-naturitas-doofinder-1-x-df-results.no-results-doofinder-grid .searchresult-tips-container ul {
  max-width: none;
  margin: auto;
  color: #4a4a4a;
  font-family: brandon-grotesque;
  font-size: 18px;
  font-weight: 700;
  line-height: 26px;
  text-align: center;
  padding-left: 0;
  list-style: inside;
}
