.df-panel-collapse {
    border-bottom: 1px solid #edebe5;
}
.df-panel[data-facet=reviews_data] {
    display: none;
}
.df-panel[data-facet='reviews_score'] .df-term .df-term__value{
    max-width: 106px;
    background-image: "";
    font-size: 0;
    background-size: contain;
    height: 18px;
}
.df-panel[data-facet='reviews_score'] .df-term .df-term__value {
    max-width: 106px;
    background-image: url(./img/star_off.png);
    font-size: 0;
    background-size: contain;
    height: 18px;
}

.df-panel[data-facet="reviews_score"] .df-term .df-term__value:after {
    background-image: url(./img/star_on.png);
    content: "";
  display: block;
  height: 18px;
  z-index: 999;
  background-size: contain;
  margin-left: 2px;
  }
 .df-panel[data-facet="reviews_score"] .df-term[data-value="1"] .df-term__value:after{
    width: 18%;
  }
  .df-panel[data-facet="reviews_score"] .df-term[data-value="2"] .df-term__value:after{
    width: 38%;
  }
  .df-panel[data-facet="reviews_score"] .df-term[data-value="3"] .df-term__value:after{
    width: 56%;
  }
 .df-panel[data-facet="reviews_score"] .df-term[data-value="4"] .df-term__value:after{
    width: 75%;
  }
 .df-panel[data-facet="reviews_score"] .df-term[data-value="5"] .df-term__value:after{
    width: 95%;
  
  }
  span.valoracion-product.with-review{
    background-image: url(./img/star_off.png);
  }
  span.valoracion-product.with-review .porcentaje{
    background-image: url(./img/star_on.png);
    display: block;

    height: 11px;
    min-height: 11px;
    background-size: contain;
    margin-left: 2px;
  }
  span.valoracion-product.with-review span.quantity-porcentaje {
    display: block;
    right: -20px;
    font-size: 9px;
    float: right;
    text-align: right;
    position: absolute;
    color: #808080;
  }
  span.valoracion-product {
    min-height: 11px;
    background-size: contain;
    max-width: 65px;
    position: relative;
    max-height: 11px;
    display: block;
}
.df-panel[data-collapse=true] .df-panel__content{
    display: none;
}
.df-panel__content {
    padding: 8px;
}
html[lang="it"] .webimpacto-naturitas-doofinder-0-x-df-aside:before {
    content: "Filtri";
}
.df-panel-collapse[data-collapse=true] .webimpacto-naturitas-doofinder-0-x-df-panel__title:after {
    float: right;
    font-size: 23px;
    line-height: 18px;
    font-weight: 500;
    content: "+";
    margin-top: 10px;
}
.df-header-title{
    text-align: center;
}
div#vtex-embedded {
    padding-top: 25px;
}
.df-card__brand{
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: brandon-grotesque;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0;
    white-space: nowrap;
    color: #9b9b9b;
}
.df-panel.df-panel-collapse:last-child {
    margin-bottom: 0px;
    border-bottom: none;
}
[data-role=panel-content] :hover[data-toggle-extra-content], [data-role=panel-content] [data-toggle-extra-content] {
    color: silver;
    font-family: brandon-grotesque;
    font-size: 14px;
    font-weight: 700;
    line-height: 33px;
    padding: .5em 1em;
    user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    width: 100%;
    float: none;
} 