.df-embedded {
    pointer-events: all!important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    z-index: 2147483640;
    overflow: hidden;
    visibility: hidden;
}

.df-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: -1;
}

.df-embedded__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    box-sizing: inherit;
}

.df-aside {
    display: none;
}

.df-aside:after {
    position: absolute;
    top: 0;
    left: 26%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-family: icomoon!important;
    font-size: 14px;
    content: "\E953";
    color: silver;
}

.df-main {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.df-results {
    display: grid;
    min-width: 180px;
    -ms-grid-columns: (minmax(180px, 1fr)) [auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-auto-rows: min-content;
    display: flex!important;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 20px 0;
}

@media screen and (min-width: 542px) {
    [data-facets] .df-aside {
        display: block;
        width: 250px;
    }
}

/* RESULTS */

.df-card {
    width: 25%!important;
    max-width: 25%!important;
    padding: 20px 15px;
    margin: 0!important;
    border: 0!important;
}

.df-card:hover {
    background-color: #fff!important;
    border-radius: 5px;
    z-index: 2;
}

.df-card a:hover {
    text-decoration: none;
}

.df-card__image {
    border-bottom: 1px dotted #D3D3D3;
    background-color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 180px;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    padding: 0 0 16px;
}

.df-card__image img {
    display: block;
    max-height: 100%;
    max-width: 100%;
    border: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}

.df-card__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: brandon-grotesque;
    font-size: 16px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0;
    color: #4a4a4a;
    line-height: 18px;
    max-height: 40px;
    min-height: 40px;
}

.df-card span.valoracion-product {
    min-height: 11px;
    background-size: contain;
    max-width: 61px;
    position: relative;
    max-height: 11px;
}

.df-card span.valoracion-product .porcentaje {
    content: "";
    height: 11px;
    z-index: 999;
    background-size: contain;
    margin-left: 2.5px;
}

.df-card .df-card__pricing {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.15px;
    color: #4a4a4a;
    font-family: brandon-grotesque;
    display: block;
    margin-bottom: 0!important;
    text-align: left;
}

.df-card .df-card__pricing>span {
    margin-left: 0!important;
    margin-right: 0!important;
    font-size: 24px;
}

.df-card .df-card__pricing .df-card__price--old {
    display: block;
    font-size: 13px;
    color: #9b9b9b;
    line-height: 19px;
    letter-spacing: 0;
    margin-left: 0;
    text-decoration: line-through;
    min-height: 20px;
}

.df-card .df-card__pricing .df-card__price--new {
    color: #4a4a4a;
    display: block;
    margin-left: 0;
}

.df-addtocartmb {
    margin-top: 10px;
    display: block;
}

a.my-df-addtocart-btn.btn-cart.ajx-cart.btn, button.my-df-addtocart-btn.btn-cart.ajx-cart.btn {
    display: block;
    border-radius: 3px;
    background-color: #5cb8a3;
    box-shadow: 0 2px 0 0 #529888;
    color: #fbfaf9;
    font-family: brandon-grotesque;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    padding: 5px 3px;
    border: none;
    width: 100%;
    text-transform: uppercase;
    outline: none!important;
}

/* FACETS */

.df-aside {
    position: relative;
    height: 100%;
}

/*.df-aside:before {
    content: "Filtros";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 10px;
    background-color: #FBFAF9;
    border: 1px solid #e4e2e2;
    border-radius: 6px;
    color: #4a4a4a;
    text-align: center;
    font-family: brandon-grotesque;
    font-size: 14px;
    font-weight: 500;
}*/

.df-aside:after {
    display: none;
}

.df-panel:first {
    /*margin-top: 1rem;*/
}

.df-panel {
    border-radius: 6px;
    border: 1px solid #EBE7E4;
    background-color: #FBFAF9!important;
    padding: 8px;
    margin-bottom: 1rem!important;
    background-color: inherit;
}

.df-panel__title:after {
    content: '-';
    top: 27px;
    right: 20px;
    position: absolute;
    width: 10px;
    height: 10px;
    text-indent: -9999px;
    border-top: 2px solid #4a4a4a;
    border-left: 2px solid #4a4a4a;
    transition: all 250ms ease-in-out;
    text-decoration: none;
    color: transparent;
    transform: rotate(45deg);
    cursor: pointer;
}

.df-panel__title {
    display: block;
    padding: 16px;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
    font-family: brandon-grotesque;
    color: #4a4a4a;
    border: none!important;
    outline: none;
    background: none!important;
    position: relative;
    cursor: initial;
}

.df-panel__title:hover {
    color: #4a4a4a;
    text-decoration: none;
}

.df-term {
    font-size: 13px;
    color: #333;
    font-family: brandon-grotesque;
    font-weight: 500;
}

@media (max-width: 769) {
    .df-card {
        width: 33%!important;
        max-width: 33%!important;
    }
}