.df-embedded {
    pointer-events: all!important;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%;
    box-sizing: border-box;
    z-index: 2147483640;
    overflow: hidden;
    visibility: hidden;
}

.df-banner {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    margin: 0 auto;
    padding: 0;
    grid-row: 1;
    -ms-grid-column: 1;
    grid-column-start: 1;
    grid-column-end: -1;
}

.df-embedded__content {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -webkit-flex-flow: row nowrap;
    -ms-flex-flow: row nowrap;
    flex-flow: row nowrap;
    box-sizing: inherit;
}

.df-aside {
    display: none;
    margin-right: 16px;
}
.df-aside:after {
    position: absolute;
    top: 0;
    left: 26%;
    height: auto;
    padding: 10px;
    text-align: center;
    font-family: icomoon!important;
    font-size: 14px;
    content: "\E953";
    color: silver;
}
.df-main {
    width: 100%;
    -webkit-box-flex: 1;
    -webkit-flex: 1 1 auto;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto;
}

.df-results {
    display: grid;
    min-width: 180px;
    -ms-grid-columns: (minmax(180px, 1fr)) [auto-fill];
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-column-gap: 1px;
    grid-row-gap: 1px;
    grid-auto-rows: min-content;
    display: flex!important;
    flex-wrap: wrap;
    justify-content: flex-start;
    padding: 20px 20px 0;
}

@media screen and (min-width: 542px) {
    [data-facets] .df-aside {
        display: block;
        width: 250px;
    }
  
}


/* RESULTS */

.df-card {
    width: 20%!important;
    max-width: 20%!important;
    padding: 20px 5px;
    margin: 0!important;
    border: 0!important;
}
.df-card:hover {
    background-color: #fff!important;
    box-shadow: 0 0 5px 2px #eee;
    border-radius: 5px;
    z-index: 2;
}


.df-card__image{
    background-color: #fff;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    height: 180px;
    padding: 0;
    overflow: hidden;
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
    height: auto;
    margin: 0 0 16px;
}

.df-card__image img{
    display: block;
    max-height: 100%;
    max-width: 100%;
    border: 0;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    width: auto;
}



.df-card__title {
    width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    font-family: brandon-grotesque;
    font-size: 14px;
    font-weight: 500;
    text-align: left;
    margin-bottom: 0;
    color: #4a4a4a;
    min-height: 40px;
    max-height: 40px;
}

.df-card__main .subtitle {
    color: silver;
    text-align: left;
    font-family: brandon-grotesque;
    font-size: 12px;
    margin-bottom: 0;
    line-height: 18px;
    font-weight: 500;
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
}
.df-card span.valoracion-product {
    min-height: 11px;
    background-size: contain;
    max-width: 61px;
    position: relative;
    max-height: 11px;
}
.df-card span.valoracion-product .porcentaje {
    content: "";
    height: 11px;
    z-index: 999;
    background-size: contain;
    margin-left: 2.5px;
}
.df-card .df-card__pricing {
    font-size: 18px;
    font-weight: 700;
    letter-spacing: -.15px;
    color: #4a4a4a;
    font-family: brandon-grotesque;
    display: block;
    margin-bottom: 0!important;
    text-align: left;
}

.df-card .df-card__pricing .df-card__price--old {
    display: block;
    font-size: 13px;
    color: #9b9b9b;
    line-height: 19px;
    letter-spacing: 0;
    margin-left: 0;
    text-decoration: line-through;
    min-height: 20px;
}
.df-card .df-card__pricing .df-card__price--new {
    color: #4a4a4a;
    display: block;
    margin-left: 0;
}
.df-addtocartmb {
    margin-top: 10px;
    display: block;
}
a.my-df-addtocart-btn.btn-cart.ajx-cart.btn, button.my-df-addtocart-btn.btn-cart.ajx-cart.btn {
    display: block;
    border-radius: 3px;
    background-color: #5cb8a3;
    box-shadow: 0 2px 0 0 #529888;
    color: #fbfaf9;
    font-family: brandon-grotesque;
    font-size: 11px;
    font-weight: 700;
    line-height: 16px;
    text-align: center;
    padding: 2px 0;
    border: none;
    width: 100%;
    text-transform: uppercase;
    outline: none!important;
}



/* FACETS */
.df-aside{
    border: 1px solid #eee;
    padding: 32px 0 0;
    position: relative;
    background: #fafafa;
    height: 100%;
}

.df-aside:before {
    content: "Filtros";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: auto;
    padding: 10px;
    background-color: #f4f3f1;
    border-bottom: 1px solid #e4e2e2;
    border-left: 1px solid #e4e2e2;
    color: #4a4a4a;
    text-align: center;
    font-family: brandon-grotesque;
    font-size: 14px;
    font-weight: 500;
}
.df-panel {
    margin: 0 0 8px;
    padding: 0;
    background-color: inherit;
}


.df-panel__title:after {
    content: '-';
    float: right;
    font-size: 23px;
    line-height: 10px;
    font-weight: 500;
    margin-top: 10px;
}

.df-panel__title {
    display: block;
    padding: 8px 16px;
    margin: 0;
    max-height: 36px;
    font-weight: 700;
    text-decoration: none;
    font-family: brandon-grotesque;
    font-size: 16px;
    font-weight: 700;
    color: #4a4a4a;
    border: none!important;
    outline: none;
    background: none!important;
    position: relative;
    line-height: 32px;
}
.df-panel__title:hover{
    color: #4a4a4a; 
}
.df-term {
    font-size: 13px;
    color: #333;
    font-family: brandon-grotesque;
    font-weight: 500;
}

@media (max-width: 769){
    .df-card {
        width: 33%!important;
        max-width: 33%!important;
    }
}